.dataBox {
  width: 30%;
}

.searchBox {
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.restaurantPanel {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.travel-summary {
  text-align: right;
}

.searchBox .control-label {
  text-align: left;
}
