.dataBox {
  width: 30%;
}

.searchBox {
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  width: inherit;
  height: 160px;
  background-color: #d32323;
  color: white;
}

.restaurantPanel {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.travel-summary {
  text-align: right;
}

.searchBox .control-label {
  text-align: left;
}

.restaurantList {
  position: fixed;
  width: inherit;
  top: 160px;
  bottom: 0px;
  overflow-y: auto;
}

.route-button {
  white-space: normal;
}

.route-details-text {
  color: #448AFF;
  font-weight: bold;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 100px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.intro {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}
